body {
  font-family: "Montserrat-Light";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Heading */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Section */
.colored-section {
  background-color: #28DF99;
  color: #fff;
}

.white-section {
  background-color: #F6F7D4;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 80%;
  position: absolute;
  right: 5%;
}

.section {
  background-color: #fff;
  z-index: +1;
  position: relative;
}

/* Feature Section */
.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #28DF99;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #99F3BD;
}

/*testimonial section*/
#testimonials {
  background-color: #99F3BD;
}

.testimonial-images {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  color: #87431d;
}

#press {
  background-color: #99F3BD;
  padding: 3%;
}

.press-icon {
  width: 15%;
  margin: 0px 20px 50px 20px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Media Qwery */
@media (max-width:992px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* CTA Section */
.social-icon {
  margin: 20px 10px;
}
